{% extends "base.html" %}
{% block content %}
<div align="center">
        <form action="{% url 'product-list' %}" method="get">
{#        {% csrf_token %}#}
            <ul>
                <li>
                    <a href={% url 'product-list' %}><input class='navigation' style="color: #FFC0CB; width:300px; height:50px; font-size: 20px;" type="submit" value="Процессоры" name="1"></a>
                </li>
                <li>
                    <a href={% url 'product-list' %}><input class='navigation' style="color: #FFC0CB; width:300px; height:50px; font-size: 20px;" type="submit" value="Материнские платы" name="2"></a>
                </li>
                <li>
                    <a href={% url 'product-list' %}><input class='navigation' style="color: #FFC0CB; width:300px; height:50px; font-size: 20px;" type="submit" value="Видеокарты" name="3"></a>
                </li>
                <li>
                    <a href={% url 'product-list' %}><input class='navigation' style="color: #FFC0CB; width:300px; height:50px; font-size: 20px;" type="submit" value="Оперативная память" name="4"></a>
                </li>
                <li>
                    <a href={% url 'product-list' %}><input class='navigation' style="color: #FFC0CB; width:300px; height:50px; font-size: 20px;" type="submit" value="Система охлаждения" name="5"></a>
                </li>
                <li>
                    <a href={% url 'product-list' %}><input class='navigation' style="color: #FFC0CB; width:300px; height:50px; font-size: 20px;" type="submit" value="Блоки питания и корпуса" name="6"></a>
                </li>
                <li>
                    <a href={% url 'product-list' %}><input class='navigation' style="color: #FFC0CB; width:300px; height:50px; font-size: 20px;" type="submit" value="Жесткие диски" name="7"></a>
                </li>
                <li>
                    <a href={% url 'product-list' %}><input class='navigation' style="color: #FFC0CB; width:300px; height:50px; font-size: 20px;" type="submit" value="DVD и BlueRay приводы" name="8"></a>
                </li>
           </ul>
         </form>
</div>
{% endblock %}