<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Конструктор</title>
    <link rel="stylesheet" href='{% static 'css/base_css.css' %}'>
  </head>
  <body>
    <header>
      <p>Первый проект</p>
      <nav>
        <a href="{% url 'home'%}"><button style="font-size:15px; background-color: #FFC0CB">На главную</button></a>
      </nav>
    </header>
    <main>
      <article>
        <h1 align="center">Конструктор вашего персонального компьютера</h1>
      </article>
        {% block content %}
          {% endblock %}
      <aside>
        aronov92@gmail.com
      </aside>
    </main>
    <footer>
      Подвал сайта
    </footer>
  </body>
</html>