{% extends "base.html" %}
{% block content %}
    <div align="center">
            <ul>
                <li>
                    <button class='navigation' style="color: #FFC0CB; width:300px; height:100px; font-size: 20px;">НАЧАТЬ СБОРКУ ПРИ ПОМОЩИ КОНСТРУКТОРА!</button>
                </li>
                <li>
                    <a href="{% url 'parts' %}"><button class='navigation' style="color: #FFC0CB; width:300px; height:100px; font-size: 20px;">КАТАЛОГ КОМПЛЕКТУЮЩИХ</button></a>
                </li>
            </ul>
    </div>
{% endblock %}