{% extends "base.html" %}
{% load static %}
{% block content %}
    <article>
        <h2 class="center">Вам нужен DVD привод в вашей сборке?</h2>
    </article>
    <div class="center">
        <a href="{% url 'ninth-component' id=id choice='Yes' %}"><img alt="Да" src="{% static 'media/img/SITE/yes.png' %}" width="225"></a>
        <a href="{% url 'end-constructor' id=id component=component choice='No' %}"><img alt="Нет" src="{% static 'media/img/SITE/no.png' %}" width="225"></a>
    </div>
{% endblock %}