{% extends "base.html" %}
{% load static %}
{% block content %}
    <article>
        <h2 class="center">Ваш компьютер собран:</h2>
    </article>
    {% for component in components %}
        {% if not component.name %}
            <p> </p>
        {% else %}
            <div style="font-size: 20px">
                 <a href='{{ component.get_absolute_url }}'>
                     <img alt="Photo" src="{% static component.small_photo_link.url %}">
                 </a>
                <br>
                <strong>{{ component.name }}</strong>
                <br>
                {{ component.price }} руб.
            </div>
            <br>
            <br>
        {% endif %}
    {% endfor %}
    <p style="font-size: 25px">Сумма: {{ sum }}</p>
    <div>
        <a href="{% url 'home'%}"><button style="font-size: 14px; background-color: black; color: white; border-radius: 10px; width: 100px; height: 30px">Сохранить</button></a>
        <a href="{% url 'first-component' id=id manufacturer=cpu %}"><button style="font-size: 14px; background-color: black; color: white; border-radius: 10px; width: 100px; height: 30px">Пересобрать</button></a>
    </div>

{% endblock %}