{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="center">
        <h2>Выберите пожалуйста производителя процессоров:</h2>
        <ul>
            <li>
                <a href="{% url 'select-component' id=id manufacturer='Intel' %}"><img alt="Logo Intel" src="{% static 'media/img/SITE/intel.png' %}" width="200"></a>
            </li>
            <li>
                <a href="{% url 'select-component' id=id manufacturer='AMD' %}"><img alt="Logo AMD" src="{% static 'media/img/SITE/AMD.png' %}" width="200"></a>
            </li>
        </ul>
    </div>
    <div class="left">
        <input class="auth" type="button" value="Назад" onclick="history.back()">
    </div>
{% endblock %}